<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
  <section class="w50">
    <form name="myform" method="Post"  action="" >
      
    <u><h4>Clothing</h4></u>
      <label>T-Shirt ($5)</label>
      <input id="tshirt" placeholder="Enter Quantity" type="text" name="tshirt"><br/>

      <label>Jeans ($20)</label>
      <input id="jeans" placeholder="Enter Quantity" type="text" name="jeans"><br/>

      <label>Top ($4)</label>
      <input id="top" placeholder="Enter Quantity" type="text" name="top"><br/>

      <label>Jacket ($100)</label>
      <input id="jacket" placeholder="Enter Quantity" type="text" name="jacket"><br/>

      <label>Hoodie ($70)</label>
      <input id="hoodie" placeholder="Enter Quantity" type="text" name="hoodie"><br/><hr>
      
      
      <u><h4>Customer Details</h4></u>
      <label>Name</label>
      <input id="name" placeholder="Full Name" type="text" name="name"><br/>

      <label>Email</label>
      <input id="email" placeholder="email@domain.com" type="text" name="email"><br/>

      <label>Phone</label>
      <input id="phone" placeholder="123-123-1234" type="phone" name="phone"><br/>

      <label>Address</label>
      <input id="address" placeholder="Hazel Street" type="text" name="address"><br/>
      
      <label>City</label>
      <input id="city" placeholder="Waterloo" type="text" name="city"><br/>

      <label>Province</label>
      <select name="province" id="province">
        <option value="">----- Select -----</option>
        <option value="Ontario">Ontario</option>
        <option value="Quebec">Quebec</option>
        <option value="Alberta">Alberta</option>
      </select><br/>
      <br/>

      <input type="submit" value="Submit">
      <p id="errors"></p>
    </form>  
</section>
<section class="w50">
  <div class="formData">
    <%
      if (typeof(errors) != 'undefined')
      {
        for (let error of errors)
        {
          %>
            <p class='errors'> <%= error.msg %></p>
          <%
        }
      }
    %>

    <%
    if (typeof(displayReceipt) != 'undefined')
    {
        %>
          <p class='errors'> <%= receiptMessage %></p>
        <%
    }
   %>
    

    <% 
      if (typeof(total) != 'undefined' && typeof(displayReceipt) == 'undefined')
      {
        %>
        <p id="formResult">Order Receipt: </p>
        <table>
          <tr>
            <th> Name: </th>
            <td> <%= name %> </td>
          </tr>
          <tr>
            <th> Email: </th>
            <td> <%= email %> </td>
          </tr>
          <tr>
            <th> Phone: </th>
            <td> <%= phone %> </td>
          </tr>
          <tr>
            <th> Address: </th>
            <td> <%= address %> , <%= city %> , <%= province %></td>
          </tr><tr><td><hr></td></tr>
          <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Total Amt</th>
          </tr>
          <% 
      if (tshirt > 0)
      {
        %>
          <tr>
            <td> T-Shirt </td>
            <td> <%= tshirt %> </td>
            <td> <%= tshirtTotal %> </td>
          </tr>
          <%
        }
      %>
      <% 
      if (jeans > 0)
      {
        %>
          <tr>
            <td> Jeans </td>
            <td> <%= jeans %> </td>
            <td> <%= jeansTotal %> </td>
          </tr>
          <%
        }
      %>
      <% 
      if (top > 0)
      {
        %>
          <tr>
            <td> Top </td>
            <td> <%= top %> </td>
            <td> <%= topTotal %> </td>
          </tr>
          <%
        }
      %>
      <% 
      if (jacket > 0)
      {
        %>
          <tr>
            <td> Jacket</td>
            <td> <%= jacket %> </td>
            <td> <%= jacketTotal %> </td>
          </tr>
          <%
        }
      %>
      <% 
      if (hoodie > 0)
      {
        %>
          <tr>
            <td> Hoodie</td>
            <td> <%= hoodie %> </td>
            <td> <%= hoodieTotal %> </td>
          </tr>
          <%
        }
      %>
      <tr><td><hr></td></tr>
          <tr>
            <th>Sub Total:</th>
            <td> $<%= subTotal.toFixed(2) %> </td>
          </tr>
          <tr>
            <th>Tax(%):</th>
            <td> <%= taxPer %> </td>
          </tr>
          <tr>
            <th>Tax:</th>
            <td> $<%= tax.toFixed(2) %> </td>
          </tr>
          <tr>
            <th>Total:</th>
            <td> $<%= total.toFixed(2) %> </td>
          </tr>
        </table>
    <%
      }
    %>
    
  </div>
</section>
<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>